<section>
    <p>Are you sure you want to drop {{course.courseTitle}} {{course.courseName}}</p>
    <ul>
        <li><a href ="/courses/registration/drop/yes/{{course._id}}" >Yes, I want to drop that</a></li>
        <li><a href = "/courses/registration">No, I don't want to</a></li>
    </ul>
</section>