
    <header>
        <h1>Logout</h1>
    </header>

    <br>

    <div class="log-out">
    	<p>You Have successfully logged out!</p>
    	<br>
    	<a href="/" >Go Back To Login Page</a>
    </div>