<nav>
        <ul>
            <li><a href="/courses/registration/">Make another search</a></li>
            <li><a href = "/mainPage">Go back to main page</a></li>
        </ul>
</nav>
<section>
    {{#if hasError}}
    <p>Register failed because {{error}}</p>
    {{else}}
    <p>Register successfully</p>
    {{/if}}
</section>